body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(125, 199, 13);
    ;
}




.show-modal{
    margin: 30px;
    padding: 10px 40px;
    font-size: 1.7em;
   border-radius: 30px;
   background-color:white
}

.modal{
    border-radius: 10px;
    font-size: 1.4em;
    padding: 20px;
    width:  500px;
    height: 50%;
    background-color: aliceblue;
    margin-left: 250px;
   margin-top: 65px;
   box-shadow: 0 3rem 5rem ;
   z-index: 10;
}


.hidden {
   display: none;
    
}